header {
  background: #5ac8a5;
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
}

header .logo-text {
      font-family: "Candal", serif;
      width: max-content;
      font-size: 2rem;
}

header .logo-text span {
  color: #6c7597;
	font-family: 'Staatliches', cursive;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: capitalize;
}

header ul li a:hover {
  background: #006669;
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}


.admin-wrapper {
	display: flex;
	height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar {
	flex: 2;
	    height: 100%;
	    background: #f6f6f6;
	    border-right: 1px solid black;
}

.admin-wrapper .left-sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	color: #6c7597;
	font-family: 'Alata', sans-serif;
	font-size: 1.3rem;
}

.admin-wrapper .left-sidebar ul li a {
	padding: 18px;
	display: block;
	border-bottom: 1px solid #004044;
	transition: 0.5s;
}

.admin-wrapper .left-sidebar ul li a:hover {
    background: #5ac8a5;
		font-size: 1.5rem;
}

.admin-wrapper .admin-content {
	flex: 8;
	height: 100%;
	padding: 40px 100px 100px;
	overflow-y: scroll;
}
.admin-content .page-title {
	text-align: center;
	    margin-bottom: 1.5rem;
	    font-size: 3rem;
}
.admin-icon-header{
	color: #6c7597;
}
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
	font-family: 'Alata', sans-serif;
}

th,
td {
	padding: 15px;
	text-align: left;
	border-bottom: 1px solid #d3d3d3;
}

.edit {
	color: green;
}

.delete {
	color: red;
}

.publish {
	color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover {
	text-decoration: underline;
}

form div {
	margin-bottom: 15px;
}


.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content.single {
  background: white;
  padding: 20px 50px;
  font-size: 1.1em;
  border-radius: 5px;
}

.content .main-content.single .post-title {
  text-align: center;
  margin-bottom: 40px;
}

.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}

.content .popular .post {
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
  padding-top: 10px;
}

.content .popular .post img {
  height: 60px;
  width: 75px;
  float: left;
  margin-right: 10px;
}

.content .main-content .post .post-preview i {
  color: #757575;
  font-size: 0.8em;
}

.content .main-content .post .preview-text {
  line-height: 1.5em;
  font-size: 1.03em;
  color: #444;
}

.content .main-content .post .read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #006669;
  background: transparent;
  border-radius: 0px;
  color: #006669 !important;
}

.content .main-content .post .read-more:hover {
  background: #006669;
  color: white !important;
  transition: 0.25s;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content .main-content .post .post-preview {
  width: 60%;
  padding: 10px;
  float: right;
}

.content .main-content .recent-post-title {
  margin: 20px;
}

.content .sidebar {
  width: 30%;
  float: left;
}

.content .sidebar.single {
  padding: 0px 10px;
}

.content .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search {
  margin-top: 80px;
}

.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
  padding-left: 10px;
  transition: all 0.3s;
}
